workDir = "/lustre/scratch124/casm/team113/nextflow_tower/work/t113_irods_to_lustre"

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Global default params, used in configs
params {
  // Input options
	run_mode                     = null
  study_id                     = null
  run_id                       = null

  // Workflow options
	download_cram                = true
  merge_crams_by_sample        = true

  // Output options
  outdir                       = null
  cram_dir                     = "${params.outdir}/crams"
  reportdir                    = "${params.outdir}/reports"

  // Boilerplate options
  publish_dir_mode           = 'copy'
  monochrome_logs            = false
  help                       = false
  validate_params            = true
  show_hidden_params         = false
  schema_ignore_params       = 'modules'
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.reportdir}/timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.reportdir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.reportdir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.reportdir}/pipeline_dag_${trace_timestamp}.svg"
}

trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}

profiles {
  lsf {
    includeConfig './conf/lsf.config'
    includeConfig './conf/lsf_tasks.config'
  }
}

manifest {
    name            = 't113_irods_to_lustre'
    author          = 'Experimental Cancer Genetics (Team 113)'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/team113_nextflow_pipelines/t113_irods_to_lustre'
    description     = 'Pipeline to download and process iRODS metadata and sequencing data'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.3'
    version         = '1.0.1'
}
