// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Global default params, used in configs
params {
  // Input options
	run_mode                     = null
  study_id                     = null
  run_id                       = null

  // Workflow options
	download_cram                = true

  // Output options
  outdir                       = null
  cram_dir                     = "${params.outdir}/crams"
  reportdir                    = "${params.outdir}/reports"

  // Boilerplate options
  publish_dir_mode           = 'copy'
  monochrome_logs            = false
  help                       = false
  validate_params            = true
  show_hidden_params         = false
  schema_ignore_params       = 'modules'
}

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}

profiles {
  lsf {
    includeConfig './confs/lsf.conf'
    includeConfig './confs/lsf_tasks.conf'
  }
}

manifest {
    name            = 't113_irods_to_lustre'
    author          = 'Experimental Cancer Genetics (Team 113)'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/team113_nextflow_pipelines/t113_irods_to_lustre'
    description     = 'Pipeline to download and process iRODS metadata and sequencing data'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.04.3'
    version         = '1.0.0'
}
