process {
  cache = 'lenient'
  executor = 'lsf'
  shell = ['/bin/bash', '-euo', 'pipefail']
}

executor {
    name = 'lsf'
    queueSize = 4000
    poolSize = 4
    submitRateLimit = '10 sec'
    killBatchSize = 50
    pollInterval = '10 sec'
    queueStatInterval = '20 sec'
    dumpInterval = '10 sec'
    exitReadTimeout= '10 sec'
    perJobMemLimit=true
}